phylogeny/mrbayes_stitched_misof_posterior.tre filter=lfs diff=lfs merge=lfs -text
analysis/mode_of_oogenesis_results_June2020/ar_ovary_model_comparison.RData filter=lfs diff=lfs merge=lfs -text
analysis/mode_of_oogenesis_results_June2020/asym_ovary_model_comparison.RData filter=lfs diff=lfs merge=lfs -text
analysis/mode_of_oogenesis_results_June2020/curv_ovary_model_comparison.RData filter=lfs diff=lfs merge=lfs -text
analysis/mode_of_oogenesis_results_June2020/egg_ovary_model_comparison.RData filter=lfs diff=lfs merge=lfs -text
analysis/mode_of_oogenesis_results_June2020/on_ovary_model_comparison.RData filter=lfs diff=lfs merge=lfs -text
analysis/mode_of_oogenesis_results_June2020/reconstruct_ancestral_ovary_morphology_type.RData filter=lfs diff=lfs merge=lfs -text
analysis/mode_of_oogenesis_results_Jan2021/reconstruct_ancestral_ovary_morphology_type.RData filter=lfs diff=lfs merge=lfs -text
analysis/pgls_results_Jan2021/run_posterior_pgls_subclade.RData filter=lfs diff=lfs merge=lfs -text
analysis/pgls_results_Jan2021/run_pgls_simulated_allometry_body_egg_ON_family_-1_image.RData filter=lfs diff=lfs merge=lfs -text
analysis/pgls_results_Jan2021/run_pgls_simulated_allometry_body_egg_ON_family_0_image.RData filter=lfs diff=lfs merge=lfs -text
analysis/pgls_results_Jan2021/run_pgls_simulated_allometry_gilbert_genus_-1_image.RData filter=lfs diff=lfs merge=lfs -text
analysis/pgls_results_Jan2021/run_pgls_simulated_allometry_gilbert_genus_0_image.RData filter=lfs diff=lfs merge=lfs -text
analysis/pgls_results_Jan2021/run_posterior_pgls_body_size.RData filter=lfs diff=lfs merge=lfs -text
analysis/pgls_results_Jan2021/run_posterior_pgls_egg_size_ovariole_number.RData filter=lfs diff=lfs merge=lfs -text
analysis/pgls_results_Jan2021/run_posterior_pgls_fecundity.RData filter=lfs diff=lfs merge=lfs -text
